__pycache__/
*.py[cod]
commands/__pycache__
cogs/__pycache__
cogs/*/__pycache__
reloading_cogs/__pycache__
config.txt
test.py

commands/
cogv3/reloading_cogs/
testingcogs/
nbot.py
ebot.py
testingbot.py